* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.smooth-scroll {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: auto;
}

header {
  background-color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: #fff;
}

.header h3 {
  font-size: 2rem;
  color: #b28756;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul,
.section-categories ul,
.section-projects-categories ul {
  display: flex;
  list-style: none;
}

.menu li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #000;
}

.menu nav li a:hover,
.menu .active a {
  border-bottom: 5px solid #b28756;
}

.hero {
  height: calc(100vh - 100px);
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.hero .sliders {
  width: 1000vw;
  height: 100%;
}

.hero .rotativo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.hero .rotativo h1 {
  font-size: 3rem;
  font-weight: bold;
  max-width: 450px;
}

.hero .rotativo span {
  color: #b28756;
}

.hero .rotativo a,
.section-text a,
.buttons {
  padding: 10px 30px;
  background-color: #b28756;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.hero .rotativo a,
.section-text a,
.buttons {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}

.hero .pointers {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
}

.hero .pointer {
  width: 10px;
  height: 10px;
  border: 1px solid #b28756;
  border-radius: 50%;
  cursor: pointer;
}

.hero .selected {
  background-color: #b28756;
}

.default {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dark {
  background-color: #000;
  color: #fff;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section h3,
.section h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.section h3 {
  font-size: 1.25rem;
}

.section h4 {
  font-size: 0.75rem;
  color: #9b9b9b;
  margin-bottom: 30px;
}

.section-body {
  display: flex;
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-text p {
  line-height: 2rem;
}

.section-text a {
  align-self: flex-start;
}

#about .section-body img {
  width: 400px;
  object-fit: contain;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}

.section-images {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid #555;
  padding: 20px;
}

.section-images:nth-last-child(1) {
  border-right: 1px solid #555;
}

.section-images h4 {
  color: #fff;
  font-size: 1rem;
  max-width: 150px;
  text-align: center;
  margin-bottom: 0;
}

.section-images p {
  color: #9b9b9b;
  max-width: 300px;
  text-align: center;
}

.section-images img {
  width: 58px;
  height: 58px;
  object-fit: cover;
}

.section-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.section-projects-categories {
  display: inline-block;
  border: 1px solid #c2c2c2;
  border-radius: 30px;
  padding: 0 30px;
}

.section-projects-categories li {
  display: inline-block;
  cursor: pointer;
  border-left: solid 1px #c2c2c2;
  padding: 20px 20px;
  border-bottom: 3px solid #fff;
}

.section-projects-categories li:first-child {
  border-left: none;
}

.section-projects-categories li:hover,
.section-projects-categories .active {
  border-bottom: 3px solid #b28756;
}

.section-projects-categories li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.section-projects-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.section-projects-photo {
  width: 250px;
  height: 156px;
  object-fit: cover;
}

.section-projects-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-projects-photo-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.section-projects-photo-info h5 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.section-projects-photo-info p {
  font-size: 0.75rem;
}

.section-projects-photo:hover .section-projects-photo-info {
  display: flex;
}

.buttons {
  margin-top: 20px;
}

.bg-team {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: bottom;
}

.bg-rgba-team {
  background-color: rgba(0, 0, 0, 0.5);
}
